<html>
<head>
    <title>真•课程表</title>
{#    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">#}
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .now{
            background: #d9d9d9;
        }

    </style>
</head>
<body>
<div class="container">
    <h1 style="text-align: center;margin: 20px;">真•课程表</h1>
    <p style="text-align: right;margin: 5px;">当前周：{{ week_num }}</p>
    <table class="container table table-bordered table-striped ">
        <thead>
        <tr class="row mx-0">
            <th class="col-1"></th>
            <th class="col">周一</th>
            <th class="col">周二</th>
            <th class="col">周三</th>
            <th class="col">周四</th>
            <th class="col">周五</th>
            <th class="col">周六</th>
            <th class="col">周日</th>
        </tr>
        </thead>
        <tbody>
        {% for i in range(1,7) %}
            <tr class="row mx-0">
                <th class="col-1">{{ i*2-1 }}-{{ i*2 }}</th>
                {% for j in range(1,8) %}
                    {% set x =  table.get_course(week_num,j,i) %}
                    <td class="col {% if (i == now_num and j == now_week) %}bg-success{% elif i ==now_num or j == now_week %}now{% endif %}">
                        <b>{{ x.name }}</b><br/>
                        {{ x.teacher }}<br/>
                        {{ x.classroom }}<br/>
                        {% set m = x['last_time'] %}
                        {% if m != Undefined and (m / 2) >1 %}
                            <span style="color: red">共 {{ m }} 节</span>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button onclick="window.location.href='{{ url_for("reimport") }}'" style="margin-bottom: 5px;" class="btn btn-lg w-100 btn-primary">重新导入</button>
    <button onclick="window.location.href='{{ url_for("logout") }}'" style="margin-top:5px;margin-bottom: 20px;" class="btn btn-lg w-100 btn-danger">退出登录</button>
</div>
</body>

</html>